.header {
    width: 100%;
    padding: 1.5rem 0;

    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__logo,
    &__search,
    &__account {
        width: calc(100% / 3);
    }

    &__logo {
        max-width: 100%;
        padding: .7rem 0;
        color: $blue;
        font-size: 2rem;
        font-weight: bold;
    }

    &__search {

        input {
            width: 100%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: none;
            outline: none;
            background: #f4f6f9;
            padding: .75rem;
            border-radius: .25rem;
        }
    }

    &__account {
        display: flex;
        justify-content: flex-end;

        > div {
            margin-left: 1rem;
        }

        &-circle {
            width: 25px;
            height: 25px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .75rem;
            cursor: pointer;

            &--me {
                background: $blue;
                color: $white;
            }

            &--notifications {
                background: $orange;
                color: $white;

            }

            &--logout {
                background: #f4f6f9;
                color: #888;
            }
        }
    }
}
