.icon {
    color: $white;
    border-radius: 35px;
    margin-right: 1rem;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: #65cae4;

    i {
        font-size: .9rem;
    }

    img {
        background: none;
        margin-right: 0;
    }

    &--admin {
        background: $blue;
    }

    &--member {

    }

    &--trainer {

    }

    &--on-demand {

    }
}
